@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');

@media (max-width: 768px){
    .support-form {
        width: 90%;
    }
}



body{
    font-family: "Tajawal", sans-serif;
    background-repeat: no-repeat;
    background-position: absolute;
    background-size: cover;
}


.header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: rgba(255, 174, 0, 0.7);
    border-radius: 0 0 20px 20px;
    height: 70px;


}

.logo{
    width: 99px;
    padding: 0px 40px;

}


.link{
    display: flex;
    gap: 30px;
    font-size: 16px;
    
}

.link a{
    text-decoration: none;
    padding: 4px 20px;
    color: #fff;
}

.link a:hover{
    color: #000000;
    background-color: #f0b22b;
    border-radius: 35px;
}



.link button{
    background-color: #f0b22b;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-family: "Tajawal", sans-serif;
}


/* تصميم الخلفية */
.background{
    position: absolute;
    width: 100%;
    background-image: url("Resources/carpenter-steven-remple.jpg.webp"); 
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -2;
    margin-top: 100px;

 
     
}



.background::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}


/* تغطية شفافة فوق الخلفية */
.overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 1223px;
    height: 80%;
    background: linear-gradient(to bottom,rgba(0,0,0,0.6),rgba(0,0,0,0));
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
}


/* تنسيق النصوص */
.content h1 {
    font-family: Inter;
    font-weight: 700px;
    font-size: 50px;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: right;
}


.content p {
    font-family: Inter;
    font-weight: 700px;
    font-size: 30px;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: right;
}


/* زر الانضمام */
.cta {
    margin-top: 7px;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #FFA500; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.cta:hover {
    background: #F1D239;
    color: darkblue;
}



.manage{
    font-family: "Tajawal", sans-serif;
    background: none;
    border: none;
    color: white;
}

option{
    background-color: rgb(212, 138, 0);
    text-align: center;
    border-radius: 30px;

}